body{
    font-family: helvetica, arial, sans-serif;
    margin: 0;
}
header{
    background-color: #1a237e;
    color:#fff;
    padding: 16px;
    text-align: center;
}
.name{
    display: inline-block;
    width: 400px;
}

.title{
    display: inline-block;
    width: 400px;
    font-weight: 600;        
}

.description{
    background-color: #b0bec5;
    color: #263238;
    font-weight: 200;
    text-align: center;
    padding: 10px;
}

.content{
    width: 960px;
    /*background-color:#f7f8f8;*/
    height: 300px;
    margin: auto;
    padding: 10px;
}

h3 {
    font-size: 36px;
    font-weight: 700;
    margin-top: 50px;
}
 .dts{
     font-size: 22px;
     text-transform: uppercase;
     margin-bottom: 10px;
     margin-top: 36px;
 }

 .dds{
     margin: 0;
 }

 .img{
     display: inline-block;
     width: 30%;
     margin-top: 20px;
 }

 .edu{
     display: inline-block;
     width: 68%;
     }